<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hu.miskolc.uni.googlebookssearchapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GoogleBooksSearchApplication">
        <activity
            android:name=".presentation.scenes.deatils.ItemListActivity"
            android:label="@string/title_item_list"
            android:theme="@style/Theme.GoogleBooksSearchApplication.NoActionBar"></activity>
        <activity
            android:name=".presentation.scenes.deatils.ItemDetailActivity"
            android:label="@string/title_item_detail"
            android:parentActivityName=".presentation.scenes.deatils.ItemListActivity"
            android:theme="@style/Theme.GoogleBooksSearchApplication.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="hu.miskolc.uni.googlebookssearchapplication.presentation.scenes.deatils.ItemListActivity" />
        </activity>
        <activity android:name=".presentation.scenes.search.BookSearchActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>